In [2]:
type("hello world")

str

- 이스케이프 문자를 사용하지 않고, 문자 그대로 표시하고 싶으면 문자열 앞에 r을 추가한다
- 여러 줄에 걸친 문자열을 나타낼때에는 ''' ''' , """ """ 이렇게 3개를 연달아 적어주자

In [7]:
print(r'C:\Windows\System32\notepad.exe')
print("")
print(""" wake up!
It's 10 O'clock 
you're late""")

C:\Windows\System32\notepad.exe

 wake up!
It's 10 O'clock
you're late

### 인덱싱과 슬라이싱

In [11]:
word = "python"
print(len(word))
print("")
print(word[0:3])
print(word[:-1]) 
print(word[0]+word[3]+ word[5:])

6

pyt
pytho
phn

### 산술연산

In [13]:
print(1+2)
print(2-1)
print(3*3)
print(8/2) # float 반환
print(7/2)
print(7//3)
print(9%2)

3
1
9
4.0
3.5
2
1

### 흐름제어

#### if/elif/else

In [16]:
rsi = 70
if rsi > 70:
    print("RSI", rsi, 'means overbought')
elif rsi >30:
    print("RSI", rsi, 'means oversold')
else:
    print("...")

RSI 70 means oversold

#### for

In [17]:
for i in [1,3,5]:
    print(i,end="\tab")

1	ab3	ab5	ab

In [18]:
for i in range(1,5,2):
    print(i)

1
3

#### enumerate

In [21]:
ls = ['apple','samsung','lg','sk']
for idx,val in enumerate(ls):
    print(f'인덱스 {idx}번째 값은 {val} 입니다')

인덱스 0번째 값은 apple 입니다
인덱스 1번째 값은 samsung 입니다
인덱스 2번째 값은 lg 입니다
인덱스 3번째 값은 sk 입니다

#### while

In [22]:
i =1
while i<7:
    print(i)
    i+=1

1
2
3
4
5
6

In [24]:
i = 0
while i>=0:
    i+=1
    if (i%2) == 0:
        continue
    if i>5:
        break
    print(i)
else:
    print("Condition is false")

1
3
5

#### try/except

In [26]:
try:
    1/0
except Exception as e:
    print('Exception occured :', str(e), type(e))

Exception occured : division by zero <class 'ZeroDivisionError'>

### 반복 자료형

- 파이썬 자료형
  - int
  - float
  - complex
  - boolean
  - str
  - char
- 한개 이상의 자료형
  - list
  - tuple
  - dictionary
  - set

In [29]:
# list
ls = list(['one', 'two', 'three',4,5,6])
print(ls[-1])
print(ls[1])
print(type(ls))

6
two
<class 'list'>

In [30]:
ls +ls

['one', 'two', 'three', 4, 5, 6, 'one', 'two', 'three', 4, 5, 6]

In [32]:
myList = "hello my name is yys".split()
print(type(myList))
print(myList)

<class 'list'>
['hello', 'my', 'name', 'is', 'yys']

In [35]:
print(''.join(myList))
print(' '.join(myList))
print('_'.join(myList))

hellomynameisyys
hello my name is yys
hello_my_name_is_yys

#### sorted / sort
- sort : 직접 정렬하고 None을 반환한다
- sorted : 기존 리스트를 복사해서 정렬한후 반환한다

In [36]:
li = [2,5,6,3,1]
li.sort() 
print(li)

[1, 2, 3, 5, 6]

In [37]:
li = [2,5,6,3,1]
sorted(li)

[1, 2, 3, 5, 6]

#### append/extend

In [39]:
L = [1,2]
L.append([3,4])
print(L)

[1, 2, [3, 4]]

In [40]:
L = [1,2]
L.extend([3,4])
print(L)

[1, 2, 3, 4]

#### 구분자 변경하기

In [41]:
'-'.join('2000/01/14'.split("/"))

'2000-01-14'

In [42]:
'2000/01/14'.replace('/','-')

'2000-01-14'

In [44]:
num='1,234,567,890'.replace(',','')
print(num)

1234567890

In [46]:
format(1234567890,',')

'1,234,567,890'

#### 리스트 복사

In [47]:
myList = ['a','b','c']
newList = myList[:]
print(newList)

['a', 'b', 'c']

In [48]:
newList[-1] = 'd'
print(newList)
print(myList)

['a', 'b', 'd']
['a', 'b', 'c']

#### 리스트 내포

In [49]:
nums =[1,2,3,4,5,6]
squares = [x**2 for x in nums]
print(squares)

[1, 4, 9, 16, 25, 36]

In [50]:
nums =[1,2,3,4,5,6]
squares = [x**2 for x in nums if x%2 ==0]
print(squares)

[4, 16, 36]

#### 튜플

In [52]:
myTuple = ('a','b','c',[10,11,12],abs, max)

print(myTuple[3])

print(myTuple[4](-100))

# myTuple[2] ='kkk'
# 하지만 변경은 불가능

[10, 11, 12]
100

#### {키:값} 형태 딕셔너리

In [53]:
myDict = {'a':'apple', 'b': 'banna', 'c':'canada'}

In [54]:
myDict['a']

'apple'

In [69]:
for i in myDict.keys():
    print(i)

a
b
c

In [70]:
for i in myDict.values():
    print(i)

apple
banna
canada

In [71]:
for i in myDict.items():
    print(i)

('a', 'apple')
('b', 'banna')
('c', 'canada')

In [74]:
for key,val in myDict.items():
    print(f'key값은 {key}, val값은 {val}')

key값은 a, val값은 apple
key값은 b, val값은 banna
key값은 c, val값은 canada

In [75]:
myDict['a'] = 'animal'
print(myDict)

{'a': 'animal', 'b': 'banna', 'c': 'canada'}

#### 문자열 포맷

In [78]:
for x in myDict:
    print("%s : %s" %(x,myDict[x]))

a : animal
b : banna
c : canada

In [79]:
for x in myDict:
    print("{} : {}".format(x,myDict[x]))

a : animal
b : banna
c : canada

In [82]:
for x in myDict:
    print(f"{x} : {myDict[x]}")

a : animal
b : banna
c : canada

#### 중복없는 set
- set은 순서가 없다
- 순서가 없기 때문에 인덱싱이 불가능하다
- 대신 원소들의 교집합,합집합,차집합을 구할 수 있다
- **빈 set을 생성**할 때, `s = set()`으로 생성해야됨 `s =[]`는**딕셔너리다!**

In [83]:
s = {'a','p','p','l','e'}
s

{'a', 'e', 'l', 'p'}

In [84]:
setA = {1,2,3,4,5}
setB = {3,4,5,6,7}

setA &setB

{3, 4, 5}

In [85]:
setA |setB

{1, 2, 3, 4, 5, 6, 7}

In [86]:
setA -setB

{1, 2}

In [88]:
setB-setA

{6, 7}

In [90]:
ls = [1,2,3,3,3,2,4,1,2,2,5,2,2,3,1,1,1,1,3,2,2,]
list(set(ls)) # 해당과정으로 인하여, 손쉽게 리스트의 중복을 없앨 수 있다

[1, 2, 3, 4, 5]