In [153]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np

In [134]:
df=fdr.DataReader('005930','2019-01-01', '2019-12-31')
df_close=df[['Close']]
df_close = df_close.copy()

## 복리 수익률 구하기

In [135]:
fisrt_date = df_close.index[0]
last_date = df_close.index[-1] 

(df_close.loc[last_date,'Close'] - df_close.loc[fisrt_date,'Close']) / df_close.loc[fisrt_date,'Close']

np.float64(0.44)

In [136]:
df_close.loc[:, 'change']= (df_close.loc[:,'Close'] - df_close.loc[:,'Close'].shift(1)) / df_close.loc[:,'Close'].shift(1)
df_close.loc[:,'total change'] = (1+df_close.loc[:,'change']).cumprod()-1

In [137]:
last_date = df_close.index[-1] 
last_total_change = df_close.loc[last_date, 'total change']
last_total_change

np.float64(0.44000000000000017)

In [138]:
df_close

            Close    change  total change
Date
2019-01-02  38750       NaN           NaN
2019-01-03  37600 -0.029677     -0.029677
2019-01-04  37450 -0.003989     -0.033548
2019-01-07  38750  0.034713      0.000000
2019-01-08  38100 -0.016774     -0.016774
...           ...       ...           ...
2019-12-23  55500 -0.008929      0.432258
2019-12-24  55000 -0.009009      0.419355
2019-12-26  55400  0.007273      0.429677
2019-12-27  56500  0.019856      0.458065
2019-12-30  55800 -0.012389      0.440000

[246 rows x 3 columns]

#### 삼성전자의 가격이 2019-01-02 ~ 2013-01-31까지 주어졌다면, 기대수익률은? -> 0.85%
- 동일 비중으로 가정

In [139]:
start_date = '2019-01-02'
end_date = '2019-01-31'
p =1/21
E_x= (df_close.loc[start_date:end_date,['change']] * p * 100).dropna().sum()
E_x

change    0.852033
dtype: float64

#### 삼성전자의 가격이 2019-01-02 ~ 2013-12-31까지 주어졌다면, 기대수익률은? -> 0.16%
- 동일 비중으로 가정

In [140]:
start_date = '2019-01-02'
end_date = '2019-12-31'
p = 1 / len(df_close)
E_x=(df_close.loc[start_date:end_date,['change']] * p * 100).dropna().sum()
E_x

change    0.158815
dtype: float64

- 동일 비중이 과연 맞을까?
- 동일 가중치를 준다는 것 -> 결국 평균을 구하는 것이랑 같다
- 주관을 주지 않고 평균을 두는 경우가 많다,,,
- 최근 데이터의 가중치(확률 비중)을 높게 주고 싶으면 가중 평균을 하면 된다 -> ewm()

#### 삼성전자의 가격이 2019-01-02 ~ 2013-01-31까지 주어졌다면, 표준편차는? -> 1.81%
- 동일 비중으로 가정

In [150]:
start_date = '2019-01-02'
end_date = '2019-01-31'
p =1/21
E_x= (df_close.loc[start_date:end_date,['change']] * p * 100).dropna().sum()
v_x = (((df_close.loc[start_date:end_date,['change']]*100 - E_x)**2) * p).dropna().sum()
v_x

change    3.292382
dtype: float64

In [152]:
np.sqrt(v_x)

change    1.814492
dtype: float64

#### 삼성전자의 가격이 2019-01-02 ~ 2013-01-31까지 주어졌다면, 표준편차는? -> 1.45%
- 동일 비중으로 가정

In [155]:
start_date = '2019-01-02'
end_date = '2019-12-30'
p = 1 / len(df_close)
E_x=(df_close.loc[start_date:end_date,['change']] * p * 100).dropna().sum()
v_x = (((df_close.loc[start_date:end_date,['change']]*100 - E_x)**2) * p).dropna().sum()
np.sqrt(v_x)

change    1.448766
dtype: float64